In [3]:
import pandas as pd
se = pd.Series(range(10))
se

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [7]:
se = pd.Series(range(1,10,2))
se

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [8]:
se.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
se.index = ['a','b','c','d','e']

In [13]:
se.index = range(1,6)

In [14]:
se

1    1
2    3
3    5
4    7
5    9
dtype: int64

In [16]:
se[se>3]

3    5
4    7
5    9
dtype: int64

In [17]:
se>3

1    False
2    False
3     True
4     True
5     True
dtype: bool

In [18]:
se*3

1     3
2     9
3    15
4    21
5    27
dtype: int64

In [19]:
'se' in se

False

In [33]:
se2 = pd.Series({"as":"AS23576 NBP","city":"Seongnam-si (Buljeong-ro)","country":"Republic of Korea","countryCode":"KR","isp":"NBP","lat":37.3595,"lon":127.105,"org":"NBP","query":"210.89.160.88","region":None,"regionName":"Gyeonggi-do","status":"success","timezone":"Asia/Seoul","zip":""})

In [22]:
se2

as                           AS23576 NBP
city           Seongnam-si (Buljeong-ro)
country                Republic of Korea
countryCode                           KR
isp                                  NBP
lat                              37.3595
lon                              127.105
org                                  NBP
query                      210.89.160.88
region
regionName                   Gyeonggi-do
status                           success
timezone                      Asia/Seoul
zip
dtype: object

In [34]:
se2.isnull()

as             False
city           False
country        False
countryCode    False
isp            False
lat            False
lon            False
org            False
query          False
region          True
regionName     False
status         False
timezone       False
zip            False
dtype: bool

# 연습문제 풀이 입니다.

In [43]:
se1 = pd.Series(list(range(0,31,2)))

In [44]:
se1

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
15    30
dtype: int64

In [45]:
se1.index = range(0,31,2)

In [46]:
se1

0      0
2      2
4      4
6      6
8      8
10    10
12    12
14    14
16    16
18    18
20    20
22    22
24    24
26    26
28    28
30    30
dtype: int64

In [49]:
se1[se1 % 4 == 0]= None

In [48]:
se1

0      NaN
2      2.0
4      NaN
6      6.0
8      NaN
10    10.0
12     NaN
14    14.0
16     NaN
18    18.0
20     NaN
22    22.0
24     NaN
26    26.0
28     NaN
30    30.0
dtype: float64

# 문제 풀이

In [60]:
import pandas as pd

se3 = pd.Series(range(0,16))*2

In [61]:
se3

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
15    30
dtype: int64

In [62]:
se3.index

RangeIndex(start=0, stop=16, step=1)

In [63]:
se3.index = list(se3)

In [64]:
se3

0      0
2      2
4      4
6      6
8      8
10    10
12    12
14    14
16    16
18    18
20    20
22    22
24    24
26    26
28    28
30    30
dtype: int64

In [65]:
se3[se3 % 4 == 0] = None

In [66]:
se3

0      NaN
2      2.0
4      NaN
6      6.0
8      NaN
10    10.0
12     NaN
14    14.0
16     NaN
18    18.0
20     NaN
22    22.0
24     NaN
26    26.0
28     NaN
30    30.0
dtype: float64

In [67]:
se3.isnull()

0      True
2     False
4      True
6     False
8      True
10    False
12     True
14    False
16     True
18    False
20     True
22    False
24     True
26    False
28     True
30    False
dtype: bool